@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --clr: ;
  --bc: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  display: grid;
  grid-template-columns: 18% 52% 30%;
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #efefef;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.header a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header i {
  font-size: 30px;
}

.header span {
  font-size: 18px;
  color: #1e2c46;
  font-weight: 600;
}

.menu {
  padding-bottom: 10px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  padding: 7px 10px;
}

.menu li span {
  font-size: 11px;
}

.menu i {
  font-size: 16px;
  color: #71717a;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 180px;
  font-weight: 600;
  color: #263146;
}

.row {
  padding-left: 55px;
}

.p {
  font-size: 9px;
  color: #4d606e;
  padding: 15px 20px;
}

ul {
  list-style-type: none;
}

.nextto {
  padding-left: 20px;
}

.nextto a:hover {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 160px;
}

.menu span {
  font-size: 12px;
  color: #4d606e;
}

.brd {
  border-top: 1px solid #efefef;
  display: flex;
  width: 170px;
  margin-left: 20px;
}

.profile {
  flex-grow: 1;
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;
}

.profile a {
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.profile span {
  font-size: 11px;
  font-weight: 600;
  color: #1e2c46;
}

.profile p {
  font-size: 10px;
  color: #4d606e;
}

.profile i {
  font-size: 17px;
  color: #4d606e;
}

/* Starting main part of the webpage */

.scd-section {
  height: 100%;
  align-items: center;
  padding-top: 15px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 10px 10px;
}

.main-header h4 {
  color: #1e2c46;
}

.main-header i {
  font-size: 15px;
  color: #71717a;
  background-color: #f6f6f6;
  padding: 3px;
  border-radius: 5px;
}

.sales2 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.switch {
  position: relative;
  width: 35px;
  height: 21px;
  cursor: pointer;
}

.input {
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 50px;
  transition: 0.5s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #71717a;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  transition: 0.5s;
}

.input:checked ~ .slider {
  background: #f6f6f6;
}

.input:checked ~ .slider:before {
  background: #71717a;
  transform: translateX(12px);
}

.main-body {
  margin: 0 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  padding: 15px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.statistics p {
  font-size: 10px;
}

h5 {
  font-size: 20px;
  color: #1e2c46;
}

.statistics .card {
  border-radius: 10px;
  height: 70px;
  padding: 9px 14px;
}

.first {
  background-color: #f8f7f3;
}

.first,
.second,
.third span {
  font-size: 11px;
  color: #71717a;
}

.first p {
  color: #04ff25;
}

.first div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.second {
  background-color: #f0f9fb;
}

.second p {
  color: red;
}

.second div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.third {
  background-color: #f4f6fa;
}

.third p {
  color: #04ff25;
}

.third div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.main-content span {
  font-size: 13px;
  font-weight: 600;
  color: #1e2c46;
}

.btn {
  padding: 5px;
  border: none;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: #71717a;
}

.btn:hover {
  font-weight: 600;
  border: 1px solid #efefef;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

.fourd {
  padding-top: 10px;
}

.fourd span {
  font-size: 11px;
  color: #71717a;
}

.fourd div {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-top: 5px;
}

.fourd p {
  color: #04ff25;
  font-size: 10px;
}

.image {
  padding-top: 10px;
}

.image span {
  font-size: 11px;
  color: #71717a;
}

.image img {
  height: 150px;
  width: 100%;
}

.main-header2 {
  padding: 15px 25px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header2 h4 {
  color: #1e2c46;
}

.main-header2 a {
  color: #71717a;
  text-decoration: none;
}

.main-header2 span,
i {
  font-size: 10px;
}

.table {
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  font-size: 10px;
  margin: 0 20px;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

table a {
  text-decoration: none;
  color: #71717a;
}

table th {
  padding: 10px;
  color: #71717a;
  background-color: #fcfcfc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #e4e4e4;
}

table td {
  color: #1e2c46;
  padding: 4px 0;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -15px;
}

.tr:hover {
  background-color: #f8fafb;
  font-weight: 600;
  cursor: pointer;
}

.table img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

input {
  cursor: pointer;
  height: 8px;
  width: 8px;
}

.style11 {
  background-color: #f0fbf3;
  border: 1px solid #aeccb3;
  color: #84bd90;
  border-radius: 10px;
  padding: 4px;
}

.style22 {
  background-color: #ebf4fb;
  border: 1px solid #a7cad9;
  color: #62bfe5;
  border-radius: 10px;
  padding: 4px;
}

.style33 {
  background-color: #fff4f3;
  border: 1px solid #e1c1c1;
  color: #e58c8d;
  border-radius: 10px;
  padding: 4px;
}

/* Starting right sidbar ///////////////////////// */

.third-section {
  border-left: 1px solid #efefef;
  height: 100%;
  padding: 20px;
}

.right-header-map span {
  font-size: 11px;
  color: #71717a;
}

.right-header-map img {
  display: block;
  width: 100%;
}

.right-header {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  justify-content: space-between;
}

.right-header h4 {
  color: #1e2c46;
}

.right-header i {
  font-size: 15px;
  color: #71717a;
  background-color: #f6f6f6;
  padding: 4px;
  border-radius: 5px;
}

.more-statistics {
  background-color: #f6f4f0;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: 7px;
  z-index: -1;
}

.more-header {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 190px;
}

.more-header h4 {
  color: #1e2c46;
}

.more-header i {
  font-size: 17px;
  color: #71717a;
  background-color: white;
  padding: 3px 3px;
  border-radius: 5px;
}

.right-span {
  font-size: 11px;
  padding-bottom: 20px;
  color: #71717a;
}

.website {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 85px;
}

.website span {
  color: #71717a;
  font-size: 13px;
}

.website h5 {
  padding-bottom: 10px;
  font-size: 18px;
}

.total-sale {
  border-top: 9px solid #e3e0d3;
  border-right: 9px solid #efeee5;
  border-bottom: 9px solid #1e2e49;
  border-left: 9px solid #9a9683;
  padding: 30px 20px;
  border-radius: 70px;
  text-align: center;
}

.right-footer {
  display: flex;
  align-items: center;
  gap: 115px;
  padding-top: 15px;
}

.right-footer h4 {
  color: #1e2c46;
  font-size: 12px;
}

.right-footer button {
  border: none;
  background-color: #8362ea;
  padding: 8px;
  font-size: 15px;
  color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.right-footer i {
  font-size: 15px;
}

.right-footer span {
  font-size: 12px;
}

.right-footer button:hover {
  background-color: #643bdd;
  cursor: pointer;
}

.div-style1 {
  background-color: #e6e4e3;
  padding: 20px 50px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  margin-left: 9px;
}

@media (max-width: 667px) {
  body {
    width: 100%;
  }

  .first-section {
    width: 100%;
    border-right: none;
    display: flex;
    padding-left: 30px;
  }

  .scd-section {
    width: 100%;
  }
}
